.container {
    display: flex;
    flex: 1;
    margin: 10px;
}

.img {
    max-height: 100px;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5px
}

.content > .header {
    display: flex;
    flex: 1;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
}

.details{
    margin: 5px;
    flex: 1
}